html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right,indigo,violet,rgb(230, 116, 116))
}
h3{
  font-family:'Courier New', Courier, monospace;
background-color:rgb(204, 16, 195);
}
h1{
  font-family:'Courier New', Courier, monospace;
  
background-color: rgb(224, 77, 150);
}


canvas {
  display: block;
 
}
